.db-input {
  margin: 0rem auto;
  max-width: 80rem;
  border: var(--border-light);
  border-radius: 5px;
  padding: 3rem 1rem;

  &__box {
    padding: 2rem 1rem;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  &__input {
    width: 50rem;
    font-size: 1.6rem;
    padding: 0.2rem 0.4rem;
  }
}
